<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/club-type-template_style.css">
    <title th:text="#{page.title.clubType}">社团分类</title>
</head>
<body>
<div id="particles"></div>
<div th:replace="fragments/notice :: notice"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/particle :: particle"></div>

<div id="Top" class="tab-buttons"></div>

<div class="grid" id="clubGrid">
    <div class="card">
        <img src="1" alt="加载中……">
        <div class="card-content">
            <h2 th:text="#{common.loading}">加载中……</h2>
            <p th:text="#{common.loading}">加载中……</p>
            <a class="button" target="_blank" th:text="#{common.viewDetails}">查看详情</a>
        </div>
    </div>
</div>

<script th:inline="javascript">
    const type = /*[[${type}]]*/ 'default';

    console.log(type);

    if(type === "activity"){
        document.getElementById("title").textContent = /*[[#{clubType.activity}]]*/ '体育活动';
        document.getElementById("Top").innerHTML = `
            <a th:href="@{/page/club-type/creativity}" class="tab-button" th:text="#{common.creativity}">创意艺术</a>
            <a class="tab-button active" th:text="#{common.activity}">体育活动</a>
            <a th:href="@{/page/club-type/service}" class="tab-button" th:text="#{common.service}">社会服务</a>
            <a th:href="@{/page/club-type/study}" class="tab-button" th:text="#{common.study}">学科竞赛</a>
        `;
    }else if(type === "service"){
        document.getElementById("title").textContent = /*[[#{clubType.service}]]*/ '社会服务';
        document.getElementById("Top").innerHTML = `
            <a th:href="@{/page/club-type/creativity}" class="tab-button" th:text="#{common.creativity}">创意艺术</a>
            <a th:href="@{/page/club-type/activity}" class="tab-button" th:text="#{common.activity}">体育活动</a>
            <a class="tab-button active" th:text="#{common.service}">社会服务</a>
            <a th:href="@{/page/club-type/study}" class="tab-button" th:text="#{common.study}">学科竞赛</a>`;
    }else if(type === "study"){
        document.getElementById("title").textContent = /*[[#{clubType.study}]]*/ '学科竞赛';
        document.getElementById("Top").innerHTML = `
            <a th:href="@{/page/club-type/creativity}" class="tab-button" th:text="#{common.creativity}">创意艺术</a>
            <a th:href="@{/page/club-type/activity}" class="tab-button" th:text="#{common.activity}">体育活动</a>
            <a th:href="@{/page/club-type/service}" class="tab-button" th:text="#{common.service}">社会服务</a>
            <a class="tab-button active" th:text="#{common.study}">学科竞赛</a>`;
    }else{
        document.getElementById("title").textContent = /*[[#{clubType.creativity}]]*/ '创意艺术';
        document.getElementById("Top").innerHTML = `
            <a class="tab-button active" th:text="#{common.creativity}">创意艺术</a>
            <a th:href="@{/page/club-type/activity}" class="tab-button" th:text="#{common.activity}">体育活动</a>
            <a th:href="@{/page/club-type/service}" class="tab-button" th:text="#{common.service}">社会服务</a>
            <a th:href="@{/page/club-type/study}" class="tab-button" th:text="#{common.study}">学科竞赛</a>`;
    }

    //获取数据
    fetch(`/api/club/all`)
        .then(response => response.json())
        .then(result => {
            const data = result.data;
            console.log(data);

            const container = document.getElementById("clubGrid");
            container.innerHTML = '';
            data.forEach(club => {
                console.log(club);
                if (club.clubClass === type) {
                    if(club.clubURL === null){
                        fetch(`/api/club/initialize-url/` + club.clubNameEn , {
                            method: 'PUT',
                        });
                    }
                    console.log(club.clubClass);
                    const card = document.createElement('div');
                    card.className = 'card';
                    card.innerHTML = `
                        <img src="${club.clubItem}" alt="${club.clubName}">
                        <div class="card-content">
                          <h2>${club.clubName}</h2>
                          <p>${club.sortDescription}</p>
                          <a class="button" href="../../${club.clubURL}" target="_blank" th:text="#{common.viewDetails}">查看详情</a>
                        </div>
                      `;
                    console.log(card);
                    container.appendChild(card);
                }
            });
        })
        .catch(error => {
            console.error("加载社团数据失败:", error);
        });
</script>

<a href="https://beian.miit.gov.cn" style="position: absolute; width: 100%; text-align: center; color: #9096b0;">沪ICP备2025137067号</a>
</body>
</html>